<div class="d-flex align-items-center">
  <h1><%= @group.name %></h1>
  <div class="ml-auto boards__linkBox">
  </div>
</div>

<%#Groupの編集フォームを表示%>
<%= render partial: 'form', locals: { group: @group } %>