<div class="d-flex align-items-center">
  <h1>日程表</h1>
  <div class="ml-auto boards__linkBox">
  </div>
</div>

<table class="table table-hover boards__table">
  <thead class="table-info"> <%# thead-light %>
    <tr>
      <th>日付</th>
      <th>場所</th>
      <th>金額</th>
      <th>○</th>
      <th>×</th>
      <% (1..20).each do |num| %>
        <th><%= " name  #{num} "%></th>
      <% end %>

      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
      </tr>
  </tbody>
</table>