<div class="d-flex align-items-center">
  <h1>グループを探す</h1>
  <div class="ml-auto boards__linkBox">
  </div>
</div>

<%#createアクション通過時に生成される:noticeを表示%>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<%#ここからGroupsを次々に表示%>
<table class="table table-hover boards__table">
  <thead class="thead-light">
    <tr>
      <th>グループ名</th>
      <th>紹介</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
          <td><%= link_to group.name, group_path(group) %></td>
          <td><%= group.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>