<div class="d-flex align-items-center">
  <h1><%= @group.name %></h1>
  <div class="ml-auto boards__linkBox">
  </div>
</div>

<%#ここからGroupの詳細を表示%>
<table class="table table-hover boards__table">
  <thead class="thead-light"> <%# thead-light %>
    <tr>
      <th>紹介文</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td><%= @group.introduction %></td>
      </tr>
  </tbody>
</table>
