<div class="d-flex align-items-center">
  <h1><%= @group.name %></h1>
  <div class="ml-auto boards__linkBox">
  </div>
</div>

<%#Groupの詳細を表示%>
<table class="table table-hover boards__table">
  <td><%= @group.name %></td>
  <td><%= @group.introduction %></td>
  <td><%= link_to '編集', edit_group_path(@group) %></td> <%#ここは将来的に幹事のみ実行可能に変更予定%>
</table>