<%#ユーザー作成,更新時に生成される:noticeを表示%>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<h3 class="my-3">マイページ</h3>

<%#2個分のタブ%>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="item1-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">プロフィール</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="item2-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="false">所属グループ一覧</a>
  </li>
</ul>

<!-- タブ部分 (各tabをpartialでわけるべき?) -->
<div class="tab-content">
  <%#グループ紹介ページを表示%>
    <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="item1-tab">
      <%= render partial: 'users/user_show/profile', locals: { user: @user } %>
    </div>
  <%#日程ページを表示%>
    <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-tab">
    <%= render partial: 'users/user_show/groups', locals: { user: @user } %>
    </div>
</div>