  <!-- 所属するグループを情報を表示 -->
<h3 class="my-3">所属グループ</h3>
<% user.groups.each_with_index do |user_group| %>
  <%= link_to group_path(user_group) do %>
    <div class="card my-3" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-lg-6" style="max-width: 150px;">
          <img src= <%="/assets/cuba#{1}.jpeg"%> class="card-img" alt="...">
        </div>
        <div class="col-lg-6">
          <div class="card-body">
            <h4 class="card-title"><%= user_group.name %></h4>
            <p class="card-text"><%= user_group.introduction %></p>
          </div>
        </div>
      </div>
    </div>  
  <% end %>
<% end %>