<!-- ユーザー情報を表示 -->
<div class="card my-3" style="max-width: 500px;">
  <%= link_to user_path(user) do %>
  <div class="row no-gutters">
    <div class="col-lg-6" style="max-width: 150px;">
      <img src= <%="/assets/cuba#{1}.jpeg"%> class="card-img" alt="...">
    </div>
    <div class="col-lg-6">
      <div class="card-body">
          <h4 class="card-title"><%= user.name %></h4>
          <p class="card-text"><%= user.email %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>