  <div class="row row-eq-height">
    <div class="col-4 my-2">
      <div class="card">
          <img src= <%="/assets/cuba#{1}.jpeg"%> class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title"><%= group.name %></h3>
            <p class="card-text"><%= group.introduction %></p>
            <p class="card-text"><small class="text-muted"><%= "#{1}" %></small></p>
          </div>
      </div>
    </div>
  </div>