<div class="card mb-3" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-lg-6">
          <img src= <%="/assets/cuba#{1}.jpeg"%> class="card-img" alt="...">
        </div>
        <div class="col-lg-6">
          <div class="card-body">
            <h4 class="card-title"><%= group.name %></h4>
            <p class="card-text"><%= group.introduction %></p>
          </div>
        </div>
      </div>
    </div>