/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";

 /* 追記 21/1/6 */
 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
  @import '@fortawesome/fontawesome-free/scss/fontawesome';
  @import '@fortawesome/fontawesome-free/scss/solid';
  @import '@fortawesome/fontawesome-free/scss/regular';
  @import '@fortawesome/fontawesome-free/scss/brands';
  @import '@fortawesome/fontawesome-free/scss/v4-shims';
 /* ここまで 21/1/6 */

/* 全ぺージの文字色を灰色に*/
 * {
   color: grey;
 }

 /* link_toの青色の無効化*/
 a{
	color: grey;
  &:hover{
    color: #afeeee;
    text-decoration: none;
  }
}

/* body部分 */
.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: white;
  padding-top: 20px;
  padding-bottom:30px;
}

/* headerとfooterの間の部分 */
.main {
  padding-top: 60px; /* ここを 変えたらnavbarからの隙間を調整可能*/
  position: relative;
}

 /* footer部分 */
footer{
  background-color: #afeeee;
  width: 100%;
  height:30px;
	position: absolute;
	bottom: 0;
}

 /* card部分 カーソルホバーで浮き上がる */
.card {
  transition:box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
  transform:translate(0, -2px);
}